<header class="navbar">
  <h1>Chuck Norris Jokes</h1>
</header>

<nav>
  <button (click)='fetchRandomJoke()'>Random Joke</button>
</nav>

<div class="conteiner titulo">
  <button (click)="fetchApi()">All Jokes</button>
</div>



<div *ngIf="!show"  class="conteiner">
  <mat-card class="example-card">
    <mat-card-content>
      <h3>
        {{randomJoke.joke}}
      </h3>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="show"  class="conteiner">
  <mat-card *ngFor="let jokes of api" class="example-card">
    <mat-card-content>
      <h3>
        {{jokes.joke}}
      </h3>
    </mat-card-content>
  </mat-card>
</div>